<h1><%= @flight.number %></h1>
<%= @flight.date %><br>
<%= @flight.time %><br>
<%= @flight.departure_city %><br>
<%= @flight.arrival_city %><br>
<%= @flight.airline.name %>
<% @flight.passengers.each do |passenger| %>
  <section id="passenger-<%= passenger.id %>">
    <%= passenger.name %><br>
    <%= passenger.age %>
  </section>
<% end %>
