<h1><%= @passenger.name %></h1>

<h3>All flights: <% @passenger.flights.each do |flight| %></h3>
  <section id="flight-<%= flight.id %>">
    <%= link_to flight.number, "/flights/#{flight.id}" %>
  </section>
<% end %>

<section>Add Another Flight:
  <%= form_tag "/passengers/#{@passenger.id}" do %>
    <%= label_tag :number %>
    <%= text_field_tag :number %>

    <%= submit_tag "Submit" %>
  <% end %>
</section>
